<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="theme-color" content="#2196f3">
<meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
<title>Framework7</title>
<link rel="stylesheet" href="framework7/dist/css/framework7.min.css">
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/framework7-icons.css">
<link rel="apple-touch-icon" href="img/f7-icon-square.png">
<link rel="icon" th:href="@{static/led/img/f7-icon.png}">
</head>
<body>
	<div id="app">
		<div class="statusbar"></div>
		<div class="panel panel-left panel-cover">
			<div class="page">
				<div class="page-content">
					<div class="block-title">Features</div>
					<div class="list links-list">
						<ul>
							<li><a href="/statistics/" class="panel-close">Statistics</a></li>
							<li style="display: none"><a id="details" href="/details/" class="panel-close">Details</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="view view-main view-init ios-edges" data-url="/">
			<div class="page">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="left">
							<a href="#" class="link icon-only panel-open" data-panel="left"> <i class="icon f7-icons ios-only">menu</i> <i class="icon material-icons md-only">menu</i>
							</a>
						</div>
						<div class="title sliding">LED</div>
					</div>
				</div>
				<div class="page-content">
					<div class="list components-list searchbar-found">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="framework7/dist/js/framework7.min.js"></script>
	<script src="js/routes.js"></script>
	<script src="js/app.js"></script>
	<script src="js/Chart.bundle.min.js"></script>
	<script>
			var pieOptions = {
				responsive : true,
				legend : {
					display : false,
					position : 'top',
				},
				events : true,
				animation : {
					animateScale : true,
					animateRotate : true,
					duration : 500,
					easing : "easeOutQuart",
					onComplete : function() {
						var ctx = this.chart.ctx;
						ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'normal', Chart.defaults.global.defaultFontFamily);
						ctx.textAlign = 'center';
						ctx.textBaseline = 'bottom';
		
						this.data.datasets.forEach(function(dataset) {
		
							for (var i = 0; i < dataset.data.length; i++) {
								var model = dataset._meta[Object.keys(dataset._meta)[0]].data[i]._model,
									total = dataset._meta[Object.keys(dataset._meta)[0]].total,
									mid_radius = model.innerRadius + (model.outerRadius - model.innerRadius) / 2,
									start_angle = model.startAngle,
									end_angle = model.endAngle,
									mid_angle = start_angle + (end_angle - start_angle) / 2;
		
								var x = mid_radius * Math.cos(mid_angle);
								var y = mid_radius * Math.sin(mid_angle);
		
								ctx.fillStyle = '#fff';
								if (i == 3) { // Darker text color for lighter background
									ctx.fillStyle = '#444';
								}
								var percent = String(Math.round(dataset.data[i] / total * 100)) + "%";
								if (i == 0) {
									ctx.fillText('Langkawi', model.x + x, model.y + y);
									ctx.fillText('Meeting Room', model.x + x, model.y + y + 15);
								}
								if (i == 1) {
									ctx.fillText('Penang', model.x + x, model.y + y);
									ctx.fillText('Meeting Room', model.x + x, model.y + y + 15);
								}
								if (i == 2) {
									ctx.fillText('Breakout', model.x + x, model.y + y);
									ctx.fillText('Area', model.x + x, model.y + y + 15);
								}
							}
						});
					}
				}
			};
		
			var ctx = document.getElementById("myChart").getContext('2d');
			var myChart = new Chart(ctx, {
				type : 'doughnut',
				data : {
					labels : [ "Langkawi Meeting Room", "Penang Meeting Room", "Breakout Area" ],
					datasets : [ {
						backgroundColor : [
							"#46BFBD",
							"#46BFBD",
							"#46BFBD"
						],
						data : [ 1, 1, 1 ]
					} ]
				},
				options : pieOptions
			});
		
			function drawSegmentValues() {
				for (var i = 0; i < myPieChart.segments.length; i++) {
					// Default properties for text (size is scaled)
					ctx.fillStyle = "white";
					var textSize = canvas.width / 10;
					ctx.font = textSize + "px Verdana";
		
					// Get needed variables
					var value = myPieChart.segments[i].value;
					var startAngle = myPieChart.segments[i].startAngle;
					var endAngle = myPieChart.segments[i].endAngle;
					var middleAngle = startAngle + ((endAngle - startAngle) / 2);
		
					// Compute text location
					var posX = (radius / 2) * Math.cos(middleAngle) + midX;
					var posY = (radius / 2) * Math.sin(middleAngle) + midY;
		
					// Text offside to middle of text
					var w_offset = ctx.measureText(value).width / 2;
					var h_offset = textSize / 4;
		
					ctx.fillText(value, posX - w_offset, posY + h_offset);
				}
			}
		
			document.getElementById("myChart").onclick = function(evt) {
				var activePoints = myChart.getElementsAtEvent(evt);
				var firstPoint = activePoints[0];
				var label = myChart.data.labels[firstPoint._index];
				var value = myChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
				if (label == 'Langkawi Meeting Room') {
					document.getElementById('details').click();
				}
			};
					
			setInterval(function(){ 
				
				var request = new XMLHttpRequest();
				request.open('GET', 'http://localhost/led/result.txt', true);
				request.send(null);
				request.onreadystatechange = function () {
					if(request.readyState === 4 && request.status === 200) {
						var result = request.responseText;
						
						if(result == '0'){
							updateChartRed();
						}
						if(result == '1'){
							updateChartGreen();
						}
					}
				}
								
			}, 5000);
			
			function updateChartRed(){
				myChart.data.datasets[0].backgroundColor[0] = '#F7464A';
				myChart.data.datasets[0].data[0] = 10;
				myChart.update();
			}
			
			function updateChartGreen(){
				myChart.data.datasets[0].backgroundColor[0] = '#46BFBD';
				myChart.data.datasets[0].data[0] = 1;
				myChart.update();
			}
			
			setInterval(function(){ 
				var ele = document.getElementById("myChart2");
				if(ele){
					var done = document.getElementById("myChart2Done").value;
					console.log(done);
					if(done == '0'){
						loadLineChart();
					}
				}
			}, 1000);
		</script>
		
		<script>
		
			var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

			function loadLineChart(){
				var data1 = [{
					x: 1,
					y: 1
				}, {
					x: 2,
					y: 2
				}, {
					x: 3,
					y: 3
				}, {
					x: 4,
					y: 2
				}, {
					x: 5,
					y: 2
				}, {
					x: 6,
					y: 2
				}, {
					x: 7,
					y: 2
				}, {
					x: 8,
					y: 2
				}, {
					x: 9,
					y: 2
				}, {
					x: 10,
					y: 2
				}, {
					x: 11,
					y: 2
				}, {
					x: 12,
					y: 2
				}];
				
				var data2 = [{
					x: 1,
					y: 2
				}, {
					x: 2,
					y: 0
				}, {
					x: 3,
					y: 0
				}, {
					x: 4,
					y: 2
				}, {
					x: 5,
					y: 0
				}, {
					x: 6,
					y: 0
				}, {
					x: 7,
					y: 2
				}, {
					x: 8,
					y: 0
				}, {
					x: 9,
					y: 1
				}, {
					x: 10,
					y: 0
				}, {
					x: 11,
					y: 0
				}, {
					x: 12,
					y: 0
				}];
			
				var ctx2 = document.getElementById("myChart2").getContext('2d');
				
				var stackedLine = new Chart(ctx2, {
					type: 'line',
					data: {
						labels: MONTHS,
						datasets: [{
							label: "Normal Usage",
							fill: false,
							backgroundColor: '#46BFBD',
							borderColor: '#46BFBD',
							data: data1,
						}, {
							label: "Alert Occurance",
							fill: false,
							backgroundColor: '#F7464A',
							borderColor: '#F7464A',
							data: data2,
						}]
					},
					options: {
						scales: {
							yAxes: [{
								stacked: true
							}]
						}
					}
				});
				
				document.getElementById("myChart2Done").value = "1";
			}
		</script>
</body>
</html>
