<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Langkawi Meeting Room</div>
    </div>
  </div>
  <div class="page-content">
    <div class="block-title">The energy consumption is exceeded.</div>
    <div class="block">
    	We detected projector in Langkawi Meeting Room is turning on for 10 minutes but nobody is using it. Please do something about it.
    </div>
  </div>
</div>
