<div class="page">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Statistics</div>
    </div>
  </div>
  <div class="page-content">
    <canvas id="myChart2"></canvas>
	<input type="hidden" id="myChart2Done" value="0"></input>
  </div>
</div>